body {
    background-image: url("../images/revue.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: 1920px 1080px;
    width: 1920px;
}

.center {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}